In [10]:
count=0
tot=0

for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        count+=1
        tot +=i
        
        
print("개수 = {} 합 = {}".format(count,tot))

개수 = 138 합 = 358631

In [14]:
result=0

for i in range(1,11):
    result = result+i
    print(result)

1
3
6
10
15
21
28
36
45
55

In [16]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:
    number = number + 1
    if mark >=60:
        print("%d번 학생은 합격입니다." % number)
              
    else:
        print("%d번 학생은 불합격입니다" % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다
3번 학생은 합격입니다.
4번 학생은 불합격입니다
5번 학생은 합격입니다.

In [19]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):
    if marks[number] < 60 :
        continue
        
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

# 1에서 5까지 제곱을 구하는 코드는?

In [26]:
for i in range(1,6):
    
    print(i*i)

1
4
9
16
25

In [30]:
# 변수를 이용하여 제곱을 구하는 방법

a=2

b=10

print(a ** b) # a의 b제곱

1024

In [32]:
x = 2

print( x ** 11) # x의 11제곱

2048

In [33]:
def power(a, n):
    ret = 1
    for i in range(n):
        ret *= a
    return ret
    
print(power(5, 5))
print(power(5, 21))

3125
476837158203125

In [48]:
def square(x):
    return x*x

In [52]:
for i in range(1,6):
    print(square(i))

1
4
9
16
25

In [57]:
list(map(square, range(1,6)))

[1, 4, 9, 16, 25]

In [59]:
list(map(lambda x:x*x, range(1,6)))

[1, 4, 9, 16, 25]

# 숫자 하나를 화면에서 입력받아 1부터 입력 숫자까지의 키를 가지고 있는 딕셔너리 데이터를 만들어라

# 값은 i*i

# 예) 4를 입력받으면 {1:1, 2:4, 3:9, 4:16}

In [8]:


number = int(input("Enter the number: "))

a=dict()

for i in range(1, number+1):
    a[i]=i*i


print(a)

Enter the number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [9]:
a = dict()

a[1]=1*1

print(a)

{1: 1}

In [11]:
b = dict()

b[4]=4+6
b[5]=5+10
b[6]=6*2

print(b)

{4: 10, 5: 15, 6: 12}

In [1]:
c = dict()

c[10]=10**2
c[11]=11*2

print(c)

{10: 100, 11: 22}

In [ ]:
input("Enter the number: ")