In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv('c:/chosungeun/df2.csv')

In [3]:

df[17006:17010]

,Name,Date,Price,Size,유동자산계,현금및현금등가물,자본금,자본잉여금,이익잉여금,총자산증가율,...,자산총계,부채총계,자본총계,매출액,매출총이익손실,판매비와관리비,영업이익손실,당기순이익손실,경상연구개발비,개발비
17006,삼화전자공업(주),2013-03-01,2195.0,small,2.773560e+10,23782000.0,1.161780e+10,3.737330e+09,1.161545e+10,-1.77,...,8.204120e+10,5.557454e+10,2.646667e+10,8.748876e+09,1.664071e+09,1.204323e+09,459749000.0,-1.670450e+08,NaN,NaN
17007,삼화전자공업(주),2013-04-01,1697.5,small,2.743173e+10,489000.0,1.161780e+10,3.737330e+09,-8.980399e+09,NaN,...,6.182241e+10,5.555644e+10,6.265968e+09,8.346858e+09,1.324559e+09,1.558437e+09,-233877000.0,-1.892907e+09,NaN,NaN
17008,삼화전자공업(주),2014-01-01,1630.0,small,3.010073e+10,23970000.0,1.161780e+10,3.737330e+09,1.135128e+10,36.35,...,8.429657e+10,5.814586e+10,2.615071e+10,7.938676e+09,1.441821e+09,1.066409e+09,375412000.0,1.460500e+07,NaN,NaN
17009,삼화전자공업(주),2014-02-01,1835.0,small,2.846785e+10,525000.0,1.161780e+10,3.737330e+09,1.050445e+10,-2.21,...,8.242992e+10,5.718000e+10,2.524992e+10,7.675436e+09,1.077417e+09,1.076309e+09,1108000.0,-8.468320e+08,NaN,NaN

In [2]:
df.replace(0,np.nan,inplace=True)
df.drop('순이익증가율',axis=1,inplace=True)

In [3]:
# bins = np.linspace(df.당기순이익손실.min(), df.당기순이익손실.max(), 10)
bins = [float(-99999999999999999999)]
for i in range(10,100,10):
    print(i)
    bins.append(np.percentile(df.당기순이익손실,i))
print(bins, len(bins))

10
20
30
40
50
60
70
80
90
[-1e+20, -4757583899.999999, -874132400.0, 224731199.99999994, 1003052800.0000002, 2144282500.0, 3833222199.9999995, 6575602400.0, 13452651000.00001, 37720600500.00006] 10

In [4]:
df['당기순이익손실_bin'] = np.digitize(df['당기순이익손실'], bins, right=True)

In [5]:
for i in range(11):
    print(i, df[df['당기순이익손실_bin']==i]['당기순이익손실_bin'].count())

0 0
1 2486
2 2486
3 2486
4 2486
5 2486
6 2486
7 2486
8 2486
9 2486
10 2486

In [6]:
df.당기순이익손실_bin.unique()

array([ 2, 10,  1,  9,  7,  8,  6,  5,  4,  3], dtype=int64)

In [7]:
df.drop(17006,axis=0,inplace=True)

In [8]:
df=df.replace(0,np.nan)

In [12]:
columns=df.columns[4:-1]
columns

Index(['유동자산계', '현금및현금등가물', '자본금', '자본잉여금', '이익잉여금', '총자산증가율', '자기자본증가율',
       '매출액증가율', '비유동자산계', '영업이익증가율', '종업원수증가율', '매출액순이익율', '부채비율', '총자본회전율',
       '자기자본회전율', '투자자산계', '유형자산계', '무형자산계', '유동부채계', '비유동부채계', '총자본영업이익율',
       '총자본순이익율', '자기자본순이익율', '자본금순이익율', '자기자본비율', '자산총계', '부채총계', '자본총계',
       '매출액', '매출총이익손실', '판매비와관리비', '영업이익손실', '당기순이익손실', '경상연구개발비', '개발비'],
      dtype='object')

In [14]:
# fill missing age with median age for each title(Ms, Mrs, Miss, Others)

for i in range(len(columns)):
    
    df[columns[i]].fillna(df.groupby('당기순이익손실_bin')[columns[i]].transform('median'), inplace=True)

In [15]:
df.isna().sum()

Name             0
Date             0
Price            0
Size           101
유동자산계            0
현금및현금등가물         0
자본금              0
자본잉여금            0
이익잉여금            0
총자산증가율           0
자기자본증가율          0
매출액증가율           0
비유동자산계           0
영업이익증가율          0
종업원수증가율          0
매출액순이익율          0
부채비율             0
총자본회전율           0
자기자본회전율          0
투자자산계            0
유형자산계            0
무형자산계            0
유동부채계            0
비유동부채계           0
총자본영업이익율         0
총자본순이익율          0
자기자본순이익율         0
자본금순이익율          0
자기자본비율           0
자산총계             0
부채총계             0
자본총계             0
매출액              0
매출총이익손실          0
판매비와관리비          0
영업이익손실           0
당기순이익손실          0
경상연구개발비          0
개발비              0
당기순이익손실_bin      0
dtype: int64

In [25]:
df.fillna('big',inplace=True)

In [26]:
df.to_csv('df.csv', encoding='ANSI', index=False)

In [27]:
pwd

'C:\\Users\\Kosmo_24'