In [62]:
import requests

from bs4 import BeautifulSoup

url = "https://finance.naver.com/item/main.nhn?code=005930"

result = requests.get(url)

soup = BeautifulSoup(result.content,"html.parser")

des= soup.find("div",{"class": "description"})

span = des.find("span", {"class":"code"})

info = soup.find("div", {"class":"content_wrap"})

div = info.find("div", {"id": "content"})

spot = div.find("div", {"class" : "spot"})

rate = spot.find("div", {"class" : "rate_info"})

table= rate.find("table", {"class": "no_info"})


a = table.find_all("span", {"class": "blind"})

print('-'*30)

전일가=a[0].text

고가=a[1].text

시가=a[4].text

저가=a[5].text

print("전일가=", 전일가)

print("고가=", 고가)

print("시가=", 시가)

print("저가=", 저가)

------------------------------
전일가= 55,500
고가= 56,400
시가= 55,700
저가= 55,600

# 여러 종목의 데이터 가져오기

In [69]:
import requests

from bs4 import BeautifulSoup

url = "https://finance.naver.com/item/main.nhn?code=036570"

result = requests.get(url)

soup = BeautifulSoup(result.content,"html.parser")

des= soup.find("div",{"class": "description"})

span = des.find("span", {"class":"code"})

info = soup.find("div", {"class":"content_wrap"})

div = info.find("div", {"id": "content"})

spot = div.find("div", {"class" : "spot"})

rate = spot.find("div", {"class" : "rate_info"})

table= rate.find("table", {"class": "no_info"})


a = table.find_all("span", {"class": "blind"})

print('-'*30)

전일가=a[0].text

고가=a[1].text

시가=a[4].text

저가=a[5].text

print("전일가=", 전일가)

print("고가=", 고가)

print("시가=", 시가)

print("저가=", 저가)

------------------------------
전일가= 579,000
고가= 596,000
시가= 583,000
저가= 574,000

In [109]:

keyword=['삼성전자', '국민은행']


stock = {'삼성전자': '000660', '국민은행':'035720', 'sm엔터테인먼트':'068270'}


for i in keyword:
    
    url = "https://finance.naver.com/item/main.nhn?code=" + stock[i]

    result = requests.get(url)

    soup = BeautifulSoup(result.content,"html.parser")

    des= soup.find("div",{"class": "description"})

    span = des.find("span", {"class":"code"})

    info = soup.find("div", {"class":"content_wrap"})

    div = info.find("div", {"id": "content"})

    spot = div.find("div", {"class" : "spot"})

    rate = spot.find("div", {"class" : "rate_info"})

    table= rate.find("table", {"class": "no_info"})


    a = table.find_all("span", {"class": "blind"})

    print('-'*30)

    전일가=a[0].text

    고가=a[1].text

    시가=a[4].text

    저가=a[5].text

    print("전일가=", 전일가)

    print("고가=", 고가)

    print("시가=", 시가)

    print("저가=", 저가)

------------------------------
전일가= 94,300
고가= 95,400
시가= 94,500
저가= 94,000
------------------------------
전일가= 154,500
고가= 160,000
시가= 155,000
저가= 154,500

# 대상 url = "http://www.saramin.co.kr/zf_user/help/live"

(page 1,2,3,4) 구분, 내용, 날짜, 시간 정보 수집

dataframe 만들기

In [283]:
url ="http://www.saramin.co.kr/zf_user/help/live"

result = requests.get(url)

soup = BeautifulSoup(result.content,"html.parser")

cat= soup.find("div",{"class": "category_list"})

cell=cat.find("table", {"class":"tbl_category_list"})

body=cell.find("tbody")

tr=body.find_all("tr")

po=[]

for i in tr:

    td=i.find("td", {"class":"category notice"})
    
    
    if td==None:
        
        td=i.find("td", {"class":"category"})
     
    
    po= po+ list(td)
    
print(po)

['공채', '공채', '공채', '공채', '소식', '인턴', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채']

In [281]:
url ="http://www.saramin.co.kr/zf_user/help/live"

result = requests.get(url)

soup = BeautifulSoup(result.content,"html.parser")

cat= soup.find("div",{"class": "category_list"})

cell=cat.find("table", {"class":"tbl_category_list"})

body=cell.find("tbody")

tr=body.find_all("tr")

pp=[]
    
for i in tr:
    
    td= i.find("a").text

    print(td)
    
    pp.append(td)
    
pp

[교보증권㈜] 2020 교보증권 상반기 업무직(6급) 공개채용 (~01/19)
[지에스이피에스(주)] 2020년도 GS EPS 부문별 수시채용 (~01/19)
[㈜유니드] ㈜유니드 2020년 상반기 신입사원 공개채용 (~01/15)
[㈜셀트리온제약] ㈜셀트리온제약 신입사원 모집 (~01/19)
[★Update★] 따끈♨ 2020 상반기 주요기업 공채 예상일정
[KOTRA(대한무역투자진흥공사)] 2020년 청년인턴(체험형) 1기 모집 (~01/11)
[㈜현대미포조선] (주)현대미포조선 신입 / 경력사원 채용 (~01/13)
[창업진흥원] 2020년 제1차 신규직원 채용 공고 (~01/22)
[한국원자력안전기술원] 2020년 1차 청년인턴 공개채용 공고 (~01/16)
[SPC삼립] 각 부문 경력직 모집 (~01/07)
[한국도키멕주식회사] 각 부문 신입 및 경력사원 채용 (~01/10)
[㈜두올] ㈜두올 각 부문 신입,경력사원 채용 (~01/19)
[(재)한국여성과학기술인지원센터] 2020년 상반기 정기 공개채용 공고 (~01/21)
[인아그룹] 2020년 인아그룹 사원 채용 (~01/14)
[㈜리치앤코 ] 굿리치라운지 매니저 5기 공개채용 (~01/15)
[㈜신보] 2020년 경력사원 모집공고 (~01/17)
[㈜한양정밀] ㈜한양정밀 각부문 신입/경력 채용 (~01/10)
[(주)아이센스] 2020년 상반기 신입 및 경력 수시채용 (~01/19)
[한성자동차(주)] 벤츠(주)한성자동차  수원전시장 영업1팀 보조 및 어시스턴트 (~02/06)
[인터지스㈜] [동국제강그룹] 인터지스㈜ 경력직 채용 (정기선팀/부정기선팀) (~01/19)

['[교보증권㈜] 2020 교보증권 상반기 업무직(6급) 공개채용 (~01/19)',
 '[지에스이피에스(주)] 2020년도 GS EPS 부문별 수시채용 (~01/19)',
 '[㈜유니드] ㈜유니드 2020년 상반기 신입사원 공개채용 (~01/15)',
 '[㈜셀트리온제약] ㈜셀트리온제약 신입사원 모집 (~01/19)',
 '[★Update★] 따끈♨ 2020 상반기 주요기업 공채 예상일정',
 '[KOTRA(대한무역투자진흥공사)] 2020년 청년인턴(체험형) 1기 모집 (~01/11)',
 '[㈜현대미포조선] (주)현대미포조선 신입 / 경력사원 채용 (~01/13)',
 '[창업진흥원] 2020년 제1차 신규직원 채용 공고 (~01/22)',
 '[한국원자력안전기술원] 2020년 1차 청년인턴 공개채용 공고 (~01/16)',
 '[SPC삼립] 각 부문 경력직 모집 (~01/07)',
 '[한국도키멕주식회사] 각 부문 신입 및 경력사원 채용 (~01/10)',
 '[㈜두올] ㈜두올 각 부문 신입,경력사원 채용 (~01/19)',
 '[(재)한국여성과학기술인지원센터] 2020년 상반기 정기 공개채용 공고 (~01/21)',
 '[인아그룹] 2020년 인아그룹 사원 채용 (~01/14)',
 '[㈜리치앤코 ] 굿리치라운지 매니저 5기 공개채용 (~01/15)',
 '[㈜신보] 2020년 경력사원 모집공고 (~01/17)',
 '[㈜한양정밀] ㈜한양정밀 각부문 신입/경력 채용 (~01/10)',
 '[(주)아이센스] 2020년 상반기 신입 및 경력 수시채용 (~01/19)',
 '[한성자동차(주)] 벤츠(주)한성자동차  수원전시장 영업1팀 보조 및 어시스턴트 (~02/06)',
 '[인터지스㈜] [동국제강그룹] 인터지스㈜ 경력직 채용 (정기선팀/부정기선팀) (~01/19)']

In [298]:
import pandas
df=pandas.DataFrame((po, pp)).T

df

     0                                                  1
0   공채        [교보증권㈜] 2020 교보증권 상반기 업무직(6급) 공개채용 (~01/19)
1   공채       [지에스이피에스(주)] 2020년도 GS EPS 부문별 수시채용 (~01/19)
2   공채           [㈜유니드] ㈜유니드 2020년 상반기 신입사원 공개채용 (~01/15)
3   공채                 [㈜셀트리온제약] ㈜셀트리온제약 신입사원 모집 (~01/19)
4   소식               [★Update★] 따끈♨ 2020 상반기 주요기업 공채 예상일정
5   인턴  [KOTRA(대한무역투자진흥공사)] 2020년 청년인턴(체험형) 1기 모집 (~01...
6   공채          [㈜현대미포조선] (주)현대미포조선 신입 / 경력사원 채용 (~01/13)
7   공채              [창업진흥원] 2020년 제1차 신규직원 채용 공고 (~01/22)
8   공채        [한국원자력안전기술원] 2020년 1차 청년인턴 공개채용 공고 (~01/16)
9   공채                       [SPC삼립] 각 부문 경력직 모집 (~01/07)
10  공채             [한국도키멕주식회사] 각 부문 신입 및 경력사원 채용 (~01/10)
11  공채                 [㈜두올] ㈜두올 각 부문 신입,경력사원 채용 (~01/19)
12  공채   [(재)한국여성과학기술인지원센터] 2020년 상반기 정기 공개채용 공고 (~01/21)
13  공채                   [인아그룹] 2020년 인아그룹 사원 채용 (~01/14)
14  공채               [㈜리치앤코 ] 굿리치라운지 매니저 5기 공개채용 (~01/15)
15  공채                     [㈜신보] 2020년 경력사원 모집공고 (~01/17)
16  공채                [㈜한양정밀] ㈜한양정밀 각부문 신입/경력 채용 (~01/10)
17  공채          [(주)아이센스] 2020년 상반기 신입 및 경력 수시채용 (~01/19)
18  공채  [한성자동차(주)] 벤츠(주)한성자동차  수원전시장 영업1팀 보조 및 어시스턴트 (...
19  공채  [인터지스㈜] [동국제강그룹] 인터지스㈜ 경력직 채용 (정기선팀/부정기선팀) (~0...

In [ ]:
['공채', '공채', '공채', '소식', '인턴', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채', '공채']

In [217]:
list_a = [1,2,3,4,5,6,7,8,9]

for i in list_a:
    print(i)
    print(list_a)

1
[1, 2, 3, 4, 5, 6, 7, 8, 9]
2
[1, 2, 3, 4, 5, 6, 7, 8, 9]
3
[1, 2, 3, 4, 5, 6, 7, 8, 9]
4
[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[1, 2, 3, 4, 5, 6, 7, 8, 9]
6
[1, 2, 3, 4, 5, 6, 7, 8, 9]
7
[1, 2, 3, 4, 5, 6, 7, 8, 9]
8
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [299]:
import pandas 

url = "http://www.saramin.co.kr/zf_user/help/live?menu=1&page=1"

pandas= pandas.read_html(url)

table=pd[0]

table

     0                                                  1                 2
0   공채        [교보증권㈜] 2020 교보증권 상반기 업무직(6급) 공개채용 (~01/19)             TODAY
1   공채       [지에스이피에스(주)] 2020년도 GS EPS 부문별 수시채용 (~01/19)             TODAY
2   공채           [㈜유니드] ㈜유니드 2020년 상반기 신입사원 공개채용 (~01/15)             TODAY
3   공채                 [㈜셀트리온제약] ㈜셀트리온제약 신입사원 모집 (~01/19)  2020/01/06 17:19
4   소식               [★Update★] 따끈♨ 2020 상반기 주요기업 공채 예상일정  2020/01/03 13:40
5   인턴  [KOTRA(대한무역투자진흥공사)] 2020년 청년인턴(체험형) 1기 모집 (~01...  2019/12/27 16:52
6   공채          [㈜현대미포조선] (주)현대미포조선 신입 / 경력사원 채용 (~01/13)  2019/12/27 09:20
7   공채              [창업진흥원] 2020년 제1차 신규직원 채용 공고 (~01/22)             TODAY
8   공채        [한국원자력안전기술원] 2020년 1차 청년인턴 공개채용 공고 (~01/16)             TODAY
9   공채                       [SPC삼립] 각 부문 경력직 모집 (~01/07)             TODAY
10  공채             [한국도키멕주식회사] 각 부문 신입 및 경력사원 채용 (~01/10)             TODAY
11  공채                 [㈜두올] ㈜두올 각 부문 신입,경력사원 채용 (~01/19)             TODAY
12  공채   [(재)한국여성과학기술인지원센터] 2020년 상반기 정기 공개채용 공고 (~01/21)             TODAY
13  공채                   [인아그룹] 2020년 인아그룹 사원 채용 (~01/14)             TODAY
14  공채               [㈜리치앤코 ] 굿리치라운지 매니저 5기 공개채용 (~01/15)             TODAY
15  공채                     [㈜신보] 2020년 경력사원 모집공고 (~01/17)             TODAY
16  공채                [㈜한양정밀] ㈜한양정밀 각부문 신입/경력 채용 (~01/10)             TODAY
17  공채          [(주)아이센스] 2020년 상반기 신입 및 경력 수시채용 (~01/19)             TODAY
18  공채  [한성자동차(주)] 벤츠(주)한성자동차 수원전시장 영업1팀 보조 및 어시스턴트 (~...             TODAY
19  공채  [인터지스㈜] [동국제강그룹] 인터지스㈜ 경력직 채용 (정기선팀/부정기선팀) (~0...             TODAY

In [187]:
import pandas_datareader.data as web
import datetime

start=datetime.datetime(2019,12,1)
end=datetime.datetime(2020,1,6)

data= web.DataReader("005930.KS", "yahoo", start, end)

data.head(20)

             High    Low   Open  Close    Volume  Adj Close
Date
2019-12-02  51300  50400  50900  50400  18877252      50400
2019-12-03  50300  49500  49800  49900  12059812      49900
2019-12-04  49850  49000  49600  49450  13246549      49450
2019-12-05  50400  49500  50200  49500  10449715      49500
2019-12-06  50900  49950  50100  50400  11414563      50400
2019-12-09  51400  50700  50900  51200   8470627      51200
2019-12-10  51600  50700  51000  51500   6882771      51500
2019-12-11  52200  51400  51500  51900  11379521      51900
2019-12-12  53300  52700  53000  53300  29178697      53300
2019-12-13  54800  53900  54500  54700  18120261      54700
2019-12-16  54900  54300  54500  54700  11512405      54700
2019-12-17  56700  55400  55800  56700  19358433      56700
2019-12-18  57200  56000  56700  56300  15558208      56300
2019-12-19  57300  55500  57000  56000  14180520      56000
2019-12-20  56500  55600  56100  56000  12095519      56000
2019-12-23  56400  55100  56100  55500   9839252      55500
2019-12-24  55700  54800  55600  55000  11868463      55000
2019-12-26  55400  54400  54700  55400   9645034      55400
2019-12-27  56900  55500  55700  56500  12313056      56500
2019-12-30  56600  55700  56200  55800   8356767      55800